.jumbotron{
    margin-top: 15px;
    padding: 17px;
    color: hsl(0, 17%, 92%);
    background-color: #c56150;
}

body {
    padding: 0;
    margin: 0;
}
    
#map{
    height: 50vh;
    /* width: 100vh; */
}

#chartdiv {
    width: 100%;
    height: 500px;
    max-width: 100%
  }

#routes_info {
    padding: 100px;
}

#architecture {
    margin: 0;
    padding: 50px;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}


#pie_chart{
    padding: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.titletext {
    margin-bottom: 5em;
    color:#c56150;
    padding-bottom: 200px;
}

h4 {
    padding-top: 20px;
    text-align: center;
}