.jumbotron{
    margin-top: 50px;
    padding: 17px;
    color: hsl(0, 17%, 92%);
    background-color: #c56150;
}

body {
    padding: 0;
    margin: 0;
}
    
#map{
    height: 50vh;
    width: 200vh;
}

#chartdiv {
    width: 100%;
    height: 500px;
    max-width: 100%
  }


    