<!DOCTYPE html>

<html lang="en-us">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cincinnati Rescue Dashboard</title>


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cincinnati Rescue Dashboard</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin="" />

    <!-- Marker Cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css"
      href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  </head>


</head>

<body>

  <!-- Jumbotron div -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Cincinnati Rescue Dashboard</h1>
        <p>Explore the Rescue Landscape of the various Cincinnati Neighborhoods</p>
      </div>

    </div>
  </div>
  </div>

  <!-- Map div and Pie Chart div -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Placeholder Title: Map</h1>
        <div id="map"></div>
      </div>
      <div class="col-md-6">
        <h1>Placeholder Title: Pie Chart</h1>
        <div id="pie_chart"></div>
      </div>
    </div>
  </div>


  <!-- Response Time div and Gauge div-->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>Placeholder Title: Response Time</h1>
        <div id="chartdiv"></div>
      </div>
      <div class="col-md-3">
        <h1>Placeholder Title: Gauge</h1>
        <div id="gauge"></div>
      </div>
    </div>
  </div>



  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  <!-- d3 JS -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Marker Cluster JS -->
  <script type="text/javascript"
    src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

  <!-- amChart js -->

  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

  <!-- Plotly js -->
  <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>

  <!-- Our JS -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <script type="text/javascript" src="../static/js/logic.js"></script>
  <script type="text/javascript" src="../static/js/plots.js"></script>
  <script type="text/javascript" src="../static/js/plotsf.js"></script>
  <script type="text/javascript" src="../static/js/plotsa.js"></script>

</body>

</html>